body{ font:16px/1.5 "微软雅黑", arial, "宋体", \5b8b\4f53;}
#gallery{
    width:700px;
    position:relative;
    min-height:400px;
    height:auto;
    margin:20px auto 0;
    padding:20px;
    background:#000;
}
#gallery h1{ color:#fff; font-size: 2em; font-weight:bold;}
#gallery ul{ float:right; width:140px; margin:10px 0 20px;}
#gallery ul li{ float:left; margin: 20px 8px 0 0;}
#gallery ul li span{
    display:block;
    position:relative;
    width:60px;
    height:80px;
    border:1px solid #fff;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    overflow:hidden;
}
#gallery ul li span img{
    position:relative;
    top:-100px;
    left:-150px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
#gallery ul li span.touch img, #gallery ul li:hover span img{
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
#gallery ul li div{
    display:none;
    position:absolute;/*以最近的设置了position属性（无论是relative还是absolute）的父级元素进行定位，直到浏览器body */
    top:100px;
    left:30px;
    border:5px solid #fff;
}
#gallery ul li:hover div{
    display: block;
}
#gallery ul li div img{
    width:460px;
    height:288px;
}